CacheMan==2.2.0
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
fasttext @ file:///C:/Users/subha/Desktop/AIML/PolyOCR/fasttext-0.9.2-cp310-cp310-win_amd64.whl
idna==3.10
langdetect==1.0.9
language_tool_python==2.9.4
numpy==1.26.4
psutil==7.0.0
pybind11==3.0.0
pycparser==2.22
pyspellchecker==0.8.3
requests==2.32.4
six==1.17.0
toml==0.10.2
tqdm==4.67.1
urllib3==2.5.0
